:root {
  color-scheme: light dark;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

.profile {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.collapsible {
  background-color: #777;
  color: white;
  padding: 4.5px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #e9e9e920;
}

.inline-alert {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}